@font-face {
    font-family: 'ivystyle-tw';
    src: url('../../pq2/font/IvyStyleTW-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'futura';
    src: url('../../pq2/font/FuturaLT.ttf') format('truetype');
}

@font-face {
    font-family: 'motiva';
    src: url('../../assets/font/MotivaSansRegular.woff.ttf') format('truetype');
}

/* Navbar 2 */
nav {
    background: #141414;
}

/* guide */
.bg_bg {
    background-image: url('../../pq2/img/bg/red-dots-9e284c584a7753441467692aec1a9ab5f2527110826c68149e26002a44087d5d.png');
}

.bg_container {
    background-image: url('../../pq2/img/bg/black-dots-4960feae77d3fb5a4703718e9a51bf265e167b4580f595352ae7a3fde798705d.png');
    color: #ffffff;
    border-color: #0c0c0c;
    border-radius: 15px;
    font-family: 'futura';
}

.btn-design {
    border-radius: 0px;
    font-size: 20px;
}

.active-btn {
    background-color: transparent !important;
    color: inherit !important;
    border-width: 2px !important;
}

.btn-console {
    background-color: #66CAF3;
    color: #000000;
    border-color: #66CAF3;
}

.btn-console:hover {
    background-color: #4f9cbb;
    color: #000000;
    border-color: #4f9cbb;
}

.btn-android {
    background-color: #F3DC0D;
    color: #000000;
    border-color: #F3DC0D;
}

.btn-android:hover {
    background-color: #c4b10b;
    color: #000000;
    border-color: #c4b10b;
}

.btn-pc {
    background-color: #D62C26;
    color: #ffffff;
    border-color: #D62C26;
}

.btn-pc:hover {
    background-color: #a3211c;
    border-color: #a3211c;
}

.btn-patch {
    background-color: #66CAF3;
    color: #000000;
    border-color: #66CAF3;
}

.btn-patch:hover {
    background-color: #4f9cbb;
    color: #000000;
    border-color: #4f9cbb;
}

.btn-layer {
    background-color: #E26EA9;
    color: #ffffff;
    border-color: #E26EA9;
}

.btn-layer:hover {
    background-color: #aa5380;
    color: #ffffff;
    border-color: #aa5380;
}

.logo {
    width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 990px) {
    .logo {
        width: 300px;
    }
}

@media (max-width: 350px) {
    .logo {
        width: 100%;
    }
}

.title {
    text-align: center;
    font-weight: bold;
}

.title1 {
    text-align: start;
    font-weight: bold;
    font-size: 1.2rem;
}

.title2 {
    font-family: 'ivystyle-tw';
    text-shadow: 3px 3px #000, -3px 3px #000, 3px -3px #000, -3px -3px #000, 7px 7px #000;
    text-transform: uppercase;
    font-size: 2.1rem;
    line-height: 1;
    margin-bottom: 3rem;
    transform: rotate(-2deg);
    color: #fff;
    /* text-align: center; */
}

.title3 {
    font-family: 'ivystyle-tw';
    text-shadow: 3px 3px #000, -3px 3px #000, 3px -3px #000, -3px -3px #000, 7px 7px #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 3rem;
    /* transform: rotate(-2deg); */
    color: #fff;
    text-align: center;
}

.red-text {
    color: #db0202;
}

.blue-text {
    color: #66CAF3;
}

.pink-text {
    color: #E26EA9;
}

.ct-text {
    color: #FFC603;
}

.orange-text {
    color: #f04e29;
}

footer {
    background-image: url('../../pq2/img/bg/black-dots-4960feae77d3fb5a4703718e9a51bf265e167b4580f595352ae7a3fde798705d.png');
    padding-top: 10px;
    padding-bottom: 10px;
}

.border-explanation {
    border: 2px solid #f04e29;
    /* border-radius: 20px; */
    border-radius: 0px;
}

.border-explanation2 {
    border: 2px solid #66CAF3;
    border-radius: 0px;
}

.img-fluid {
    max-width: 128px;
    border-radius: 50%;
    /* content-visibility: auto; */
}

.tutorial-img {
    max-width: auto !important;
    min-width: 100%;
    border-radius: 0px !important;
}

.tutorial-img-android {
    max-width: auto !important;
    min-width: 50%;
    border-radius: 0px !important;
}

.tutorial-img-texturas {
    max-width: auto !important;
    min-width: 80%;
    border-radius: 0px !important;
}

@media (max-width: 768px) {
    .tutorial-img-android {
        max-width: auto !important;
        min-width: 100%;
        border-radius: 0px !important;
    }

    .tutorial-img-texturas {
        max-width: auto !important;
        min-width: 100%;
        border-radius: 0px !important;
    }
}

.text-hideca {
    color: #00000000;
}

.iconify {
    margin-right: 10px;
    margin-bottom: 5px;
}

.btn-link {
    text-decoration: none;
    margin-top: -50px;
    margin-bottom: -40px;
    color: #f04e29;
}

.btn-link:hover {
    color: #9e341c !important;
}

.btn-guide {
    /* background-color: #f04e29; */
    color: #ffffff;
    border-color: #f04e29;
    margin-bottom: 2rem;
    border-bottom: 0px;
    border-radius: 0px;
}

.btn-guide-mobile {
    /* background-color: #f04e29; */
    color: #ffffff;
    border-color: #f04e29;
    margin-bottom: 2rem;
    border-radius: 0px;
}

.btn-guide:hover {
    /* background-color: #9e341c; */
    color: #ffffff;
    border-color: #9e341c;
}

.btn-guide-mobile:hover {
    /* background-color: #9e341c; */
    color: #ffffff;
    border-color: #9e341c;
}

.disabled-guide {
    background-color: #f04e29;
    color: #ffffff;
    border-color: #f04e29;
}

/* comparison */
.img-comparison {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
}

.rounded1 {
    border: 2px solid #f04e29;
    border-radius: 0px 0px 30px 30px !important;
}

.index-design {
    text-decoration: none;
    border-radius: 0px;
    border: 2px solid #f04e29;
}

.index-design .nav-link {
    color: #ffffff !important;
}

.index-design .nav-link:hover {
    color: #f04e29 !important;
}

@media (max-width: 768px) {
    .accordion {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
}

.accordion-item {
    border-color: #f04e29 !important;
    border-radius: 0px !important;
    background-color: #141414 !important;
}

.accordion-button {
    background-color: #f04e29;
    border-radius: 0px !important;
}

.accordion-button:not(.collapsed) {
    background-color: #f04e29;
}

.accordion-button:focus {
    box-shadow: none;
}

/* sidebar */
.mobile-sidebar {
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: -250px;
    width: 160px;
    height: 100%;
    background-color: #111;
    color: white;
    transition: right 0.3s ease-in-out;
    padding: 15px;
    padding-top: 0;
    z-index: 1000;
}

.mobile-sidebar.show {
    right: 0;
}

.sidebar-toggle {
    position: fixed;
    top: 10%;
    right: -5px;
    /* padding: 10px 15px; */
    cursor: pointer;
    display: none;
    z-index: 1001;
    transform: rotate(-20deg);
}

.sidebar-toggle img {
    height: 70px;
    /* shadow */
    box-shadow: 0 0 10px rgba(15, 15, 15, 0.733);

}

.sidebar-toggle.hidden {
    display: none;
}

.sidebar-toggle:hover {
    border: 1px solid #f04e2900 !important;
}

/* Define la animación del borde */
@keyframes border-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.animated-border {
    border: 1px solid transparent;
    border-radius: 0%;
    animation: border-pulse 3s infinite;
    padding: 2px;
}

.animated-border:hover {
    animation: none;
    border-color: rgb(255, 255, 255);
}

/* Mostrar solo en móviles */
@media (max-width: 1200px) {
    .sidebar-toggle {
        display: block;
    }
}

.credits-container {
    width: 90%;
}

@media (min-width: 990px) {
    .credits-container {
        margin-right: 9% !important;
    }
}

@media (min-width: 1400px) {
    .credits-container {
        width: 90% !important;
        margin-right: 9% !important
    }
}

@media (max-width: 1200px) {
    .credits-container {
        width: 73% !important;
        margin-right: 26% !important
    }
}

@media (max-width: 990px) {
    .credits-container {
        width: 97% !important;
        margin-right: 1% !important;
    }
}

.btn-close-sidebar {
    margin-left: 25px;
}

/* slider */
/* Contenedor principal */
.image-comparator {
    position: relative;
    max-width: 800px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

/* Contenedor de imágenes */
.image-container {
    position: relative;
    padding-top: 56.25%;
}

.image-container img {
    object-fit: contain;
}

/* Estilos para ambas imágenes */
.image-before,
.image-after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Imagen de la derecha */
.image-after {
    clip-path: inset(0 0 0 50%);
}

/* Slider */
.slider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    width: 3px;
    /* Grosor del slider */
    background: #fff;
    box-shadow: -1px 0 0 #000, 1px 0 0 #000;
    cursor: col-resize;
    z-index: 10;
}

/* Círculo del slider */
.slider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* slider */

.btn-primary {
    background-color: #bd0202 !important;
    border-color: #bd0202 !important;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #f3f3f3;
}

.btn-primary:hover {
    background-color: #8b0906 !important;
    border-color: #8b0906 !important;
}

.btn-primary1 {
    background-color: #66CAF3 !important;
    border-color: #66CAF3 !important;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary1:hover {
    background-color: #4f9cbb !important;
    border-color: #4f9cbb !important;
    color: #000;
}

.btn-primary2 {
    background-color: #E26EA9 !important;
    border-color: #E26EA9 !important;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.btn-primary2:hover {
    background-color: #aa5380 !important;
    border-color: #aa5380 !important;
    color: #ffffff;
}

.btn-primary3 {
    background-color: #66CAF3 !important;
    border-color: #66CAF3 !important;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary3:hover {
    background-color: #4f9cbb !important;
    border-color: #4f9cbb !important;
}

.btn-secondary {
    background-color: #f0dc29 !important;
    border-color: #f0dc29 !important;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000;
}

.btn-secondary:hover {
    background-color: #c4b10b !important;
    border-color: #c4b10b !important;
    color: #000;
}

@media (max-width: 358px) {
    .hide-changeguide-mobile {
        display: none;
    }
}

@media (min-width: 359px) {
    .hide-changeguide-desktop {
        display: none !important;
    }
}

.link-color {
    color: #297ff0;
}

.image-comparator {
    width: 100%;
    max-width: 100%;
}

.text-secondary {
    color: #d3d3d3 !important;
    text-decoration: underline;
}

.console-btn {
    background-color: #f8f9fa !important;
    border-radius: 5px !important;
    padding: 2px 5px !important;
    color: #000 !important;
    font-weight: bold !important;

}

.btn-a {
    border-radius: 50% !important;
    padding: 4px 10px !important;
}

code {
    background-color: #000000;
    border-radius: 5px;
    padding: 2px 5px;
    font-weight: bold !important;
    color: #f04e29;
}

.code-fix {
    background-color: #000000 !important;
    color: #f74f4f !important;
    font-weight: bold;
}

body {
    --bs-border-color: #f04e29;
}

.addon-img {
    max-width: 100% !important;
    height: auto !important;
    border-radius: 0px !important;
}

.accordion-button-addon:not(.collapsed)::after {
    background-image: none;
}

.creator-name {
    margin-bottom: 0;
}

.hr-sidebar {
    margin: 0;
    margin-bottom: 4px;
}