/* desktop */
@media (min-width: 769px) {
    .hide-desktop {
        display: none !important;
    }
}

@media (min-width: 991px) {
    .hide-desktop2 {
        display: none !important;
    }
}

@media (min-width: 1201px) {
    .hide-desktop3 {
        display: none !important;
    }
}

/* mobile */
@media (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
}

@media (max-width: 990px) {
    .hide-mobile2 {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .hide-mobile3 {
        display: none !important;
    }
}

